@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar {
  height: 60px;
  background-color: #fff;
  box-shadow: #929292 0px 3px 6px;
  justify-content: flex-end;
}
.main-container {
  background-color: #fff;
  padding-top: 0;
}
.sidenav {
  height: 100%;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4fc3f7bf;
  overflow-x: hidden;
}
.sidenav > .menu-item {
  padding: 6px 8px 6px 16px;
  color: #fff;
  display: block;
  background-color: #2fa5ea;
  margin-top: 2px;
}
.sidenav div:hover {
  color: #f1f1f1;
}
.brand {
  background-color: #01579B;
  height: 60px;
  padding-top: 20px;
}
.brand > .col {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.main-content {
  margin-left: 210px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 5px 10px;
  background-color: #d4d1d1;
}